MODE=development
PORT=5000
ARCJET_KEY=your_arcjet_key_here
BETTER_AUTH_SECRET=your_better_auth_secret_here
BETTER_AUTH_URL=http://localhost:5000
MONGO_SHORTENER_URI=mongodb://localhost:27017/url-shortener
NODEMAIL_USER=your_gmail_address_here
NODEMAIL_PASS=your_gmail_app_password_here
